# Ignore bundler config.
/for_do_frontend/.bundle

# Ignore the default SQLite database.
/for_do_frontend/db/*.sqlite3
/for_do_frontend/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/for_do_frontend/log/*
/for_do_frontend/tmp/*
/for_do_frontend!/log/.keep
/for_do_frontend!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/for_do_frontend/tmp/pids/*
/for_do_frontend!/tmp/pids/
/for_do_frontend!/tmp/pids/.keep

# Ignore uploaded files in development.
/for_do_frontend/storage/*
/for_do_frontend!/storage/.keep
/for_do_frontend/tmp/storage/*
/for_do_frontend!/tmp/storage/
/for_do_frontend!/tmp/storage/.keep

/for_do_frontend/public/assets

# Ignore master key for decrypting credentials and more.
/for_do_frontend/config/master.key